body
{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
min-width: 400px;
background-color: rgba(249, 237, 237, 0.733);
}

.calculatrice
{
width:400px;
height:600px;
background-image: linear-gradient(to left,red,rgb(0, 149, 255));
border-radius: 10px;
box-shadow: 2px 37px 29px -18px rgb(0 0 0 / 37%);
}


.ecran
{
width: 92%;
height:90px;
background-color: rgb(181, 175, 175);
border-radius: 10px;
margin-left:4%;
margin-top: 15px;
}

.ecran:hover
{
background-color:rgb(247, 238, 238) ;
}

#conteneur
{
display: grid;
grid-template-columns: 80px 80px 80px 80px;
gap:10px;
justify-content: center;
height: 60%;
}


.botton
{
position: relative;
top:30px;
background-color: orange;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color:white;
font-size: 30px;
cursor: pointer;
}

.exe
{
background-color: gray;
}

.botton:hover 
{
opacity: 0.7;
}